body{
  margin: 0;
  padding: 0;
  background-color: #333;
}

.container {
    margin-top: 80px;
    padding: 120;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 50px;
}
img{
    max-width: 500px;
    max-height: 500px;
    background-color: rgb(66, 66, 66);
    border-radius: 50px;
    margin-left: 35%;
}
p{
    color:aliceblue
}
button,select {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  
}


.BarraDeBusqueda{
    background-color: rgb(131, 131, 131);
    padding: 10px; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
   }
  .BarraDeBusqueda ul {
    display: flex;
    margin-right: 80px;
    margin-left: 20px;
  }